body {
    font-family: Arial, sans-serif;
    background-color: rgb(229, 255, 0);
    text-align: center;
    font-size: 40px;
  }
  
  h1 {
    text-align: center;
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
  }
  
  footer p {
    margin-bottom: 100px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #af4c4c;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  